.div {
    margin: 16px;
    padding: 16px;
    border: 1px solid #666;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
}

#div1 {
    background: steelblue;
}

#div2 {
    background: gold;
}

.redBtn {
    padding: 10px;
    border: 1px solid green;
    background: red;
    color: white;
}

.mouse {
    position: absolute;
    background: greenyellow;
    border: 1px solid teal;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
